{% extends 'wiki/base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<a href="" class="text-success" data-bs-toggle="tooltip" data-placement="bottom" data-bs-title="{{ object.category.description }}">{{ object.category }}</a>
<h1>{{ object.title }}</h1>
<small class="text-muted"><strong>Created on:</strong> {{ object.created_on }}</small>
<small class="text-muted"><strong>Updated on:</strong> {{ object.updated_on }}</small>
</br>
<p class="mt-3">{{ object.entry }}</p>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}