body {
    font-family: "Comic Sans MS" !important;
    background-color: #384c8b;
}

h1,
h2,
h3,
h4,
h5,
.btn {
    font-family: "Press Start 2P" !important;
}

#main {
    outline: 5px solid #FFF;
}

.jumbotron {
    background: rgb(227, 249, 168);
    background: linear-gradient(0deg, rgba(227, 249, 168, 1) 0%, rgba(196, 220, 130, 1) 33%, rgba(163, 190, 89, 1) 72%, rgba(244, 255, 213, 1) 100%);
    border-top: 3px solid #abb986;
    border-left: 3px solid #abb986;
    border-right: 3px solid #abb986;
    border-bottom: 4px solid #9bb64e;
}

.navbar-nav {
    background: rgb(140, 64, 156);
    background: linear-gradient(0deg, rgba(140, 64, 156, 1) 0%, rgba(106, 41, 114, 1) 33%, rgba(84, 18, 102, 1) 72%, rgba(148, 67, 168, 1) 100%);
    outline: 3px solid #d794e6 !important;
    border-radius: 10px !important;
}

.btn-login {
    font-family: Arial !important;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    -webkit-text-stroke: 1px grey;
    color: white;
    right: 400px;
    bottom: 5px;
    border: 3px solid #0a0809 !important;
    background: rgb(19, 19, 19) !important;
    background: linear-gradient(0deg, rgba(19, 19, 19, 1) 48%, rgba(171, 182, 184, 1) 63%) !important;
}

.btn-yassified {
    background: rgb(140, 64, 156);
    background: linear-gradient(0deg, rgba(140, 64, 156, 1) 0%, rgba(106, 41, 114, 1) 33%, rgba(84, 18, 102, 1) 72%, rgba(148, 67, 168, 1) 100%);
    outline: 3px solid #d794e6 !important;
    outline-offset: -4px;
    border-radius: 5px !important;
    filter: drop-shadow(2px 3px 2px #491955) !important;
    font-family: "Press Start 2P" !important;
    color: white;
    text-shadow: 1px 1px 3px #ffd5f8;
}

.btn-yassified:hover {
    background: rgb(242, 227, 92);
    background: linear-gradient(0deg, rgba(242, 227, 92, 1) 0%, rgba(255, 255, 255, 1) 80%);
    outline: 3px solid #d7c428 !important;
    outline-offset: -4px;
    color: #914580 !important;
}
