<html lang="en-US">
    {% extends "base.html" %}
    {% block title %}Blog{% endblock title %}
    {% block content %}
    <head>
        <h1><a href='/blog/articles'>Return to All Articles</a></h1>
    </head>
    <head>
        <h2>{{ object }}</h2>
    </head>
    {% if object.header %}
	    <img src="{{ object.header.url }}" class="img-fluid">
    {% endif %}
    <body>
        <ul>
            <p>By {{ article.author }}</p>
            <p>Published on {{ article.created_on }} | Last edited on {{ article.updated_on }}</p>
            <p>{{ article.entry }}</p>
        </ul>

    <h3>Comments</h3>

    {% if request.user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form }}
            <button>Submit</button>
        </form>
    {% endif %}

    {% for comment in comments %}

            <p><strong><u>{{ comment.author }}</u></strong>
             | Commented on {{ comment.created_on }} 
             | Last Edited on {{ comment.updated_on}}</p>
            <p>{{ comment.entry }}</p>

    {% endfor %}

    <h3>More articles by {{ article.author }}</h3>
        <ul>
            {% for article in related_articles %}
                <li><a href='{{ article.get_absolute_url }}'>{{ article.title }} in {{ article.category }}</a></li> 
            {% endfor %}
        </ul>
    {% if not request.user.is_authenticated %}

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <button type="submit">LOG IN</button>
        </form>

    {% endif %}

    {% if request.user.is_authenticated %}      

        {% if article.author.user == user %}

            <h3><a href='{% url 'blog:edit' pk=article.pk %}'>Edit Article.</a></h3>

        {% endif %}

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">LOG OUT</button>
    </form>
    </body>
    {% endif %}
    {% endblock content %}
</html>