{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<a class="btn btn-sm btn-yassified p-2 mb-3" href="{% url 'blog:list' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
{% if article.author.user == user %}
<a class="btn btn-sm btn-yassified p-2 mb-3" href="{% url 'blog:edit' pk=article.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
{% endif %}

<h2>{{ object }}</h2>

<small><strong>By {{ article.author }}</strong></small><br>
<small>Published on <strong>{{ article.created_on }}</strong> | Last edited on <strong>{{ article.updated_on }}</strong></small><br>

<hr>

{% if object.header %}
    <img src="{{ object.header.url }}" class="img-fluid">
{% endif %}

<p class="mt-4 mb-5">{{ article.entry }}</p>

<h5>More articles by {{ article.author }}</h5>
    {% for article in related_articles %}
        <li class="list-group-item"><a href='{{ article.get_absolute_url }}'>{{ article.title }} in {{ article.category }}</a></li> 
    {% endfor %}

<hr>

<h5>Comments</h5>

{% if request.user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in comment_form %}
            {{ field.errors }}
            {{ field }}
        {% endfor %}
        <input class="btn btn-sm btn-yassified mt-3 p-2" type="submit" value="Submit Comment">
    </form>
{% endif %}

<ul class="list-group list-group-flush mt-4">
{% for comment in comments %}
    <li class="list-group-item">
        <p class="mb-0"><strong>{{ comment.author }}</strong></p>
        <small class="text-secondary">Commented {{ comment.created_on }} at {{ comment.created_on }} | Edited {{ comment.updated_on }} at {{ comment.updated_on }}</small>
        <p>{{ comment.entry }}</p>
    </li>
{% endfor %}
</ul>

{% if not request.user.is_authenticated %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <button type="submit">LOG IN</button>
    </form>

{% endif %}
{% endblock %}