{% extends "base.html" %}
{% load static %} 
{% block title %} 
    {{ commission.title }}
{% endblock title %} 
{% block content %} 
    <h2>{{ commission.title }}, commissioned by {{ commission.creator }} </h2>
    <h3>
        Total People Needed: {{ manpower }} <br>
        Open Slots: {% if commission.status != 'O' %}0{% else %}{{ remaining }}{% endif %} <br> 
        Status: {% if commission.status == 'O' %}Open{% elif commission.status == 'F' %}Full{% elif commission.status == 'C' %}Complete{% else %}Discontinued{% endif %}
    </h3>
    <p class="mt-4 mb-5">
        Date Created: {{ commission.created_on }}<br>
        Last Updated: {{ commission.updated_on }}<br>
        {{ commission.description }}
    </p>
    <h3>Jobs:</h3>
    <ul class="list-group list-group-flush mb-3">
        {% for job in commission.jobs.all %}
            <li class="list-group-item">
                {{ job.role }}: {% if job.status == 'F' %}Full{% else %}Open{% endif %}<br>
                Total People Needed: {{ job.manpower_required }}<br> 
                {% if request.user != commission.creator.user and job.status != 'F' %} 
                <a href="{% url 'commissions:job-application' %}">Apply to a Job</a>
                {% else %} 
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>
    {% if commission.creator.user == request.user %}
        <h4><a href="{% url 'commissions:commission-update' pk=commission.pk %}">Update your commission</a></h4>
    {% else %} 
    {% endif %} 
{% endblock content %} 