<html lang="en-US">
    {% extends "base.html" %}
    {% block title %}Blog{% endblock title %}
    {% block content %}
        <head>
            <h1>Article Categories</h1>
        </head>
        <body>
            <ul>
                {% for category in object_list %}
                    <h2><a href='{{ category.get_absolute_url }}'>{{ category.name }}</a></h2>
                    <p>{{ category.description }}</p>
                    
                {% endfor %}
            </ul>
        </body>
    {% endblock content %}
</html>