<html lang="en-US">
    {% extends "base.html" %}
    {% block title %}Blog{% endblock title %}
    {% block content %}
        <head>
            <h1>Article Categories</h1>
        </head>
        <body>
            <ul>
                {% for category in object_list %}

                    <h2>{{ category.name }}</h2>
                    <p>{{ category.description }}</p>

                    <ul>
                    {% for article in category.article.all %}
                        <li><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li> 
                    {% endfor %}
                    </ul>

                {% endfor %}
            </ul>
        </body>
    {% endblock content %}
</html>