<html lang="en-US">
    {% extends "base.html" %}
    {% block title %}Blog{% endblock title %}
    {% block content %}
        <head>
            <h2>{{ object }}</h2>
        </head>
        <body>
            <ul>
                {% for article in object.article.all %}
                    <h3>{{ article.title }}</h3>
                    <p>Published on {{ article.created_on }} | Last edited on {{ article.update_on }}</p>
                    <p>{{ article.entry }}</p>
                {% endfor %}
            </ul>
        </body>
    {% endblock content %}
</html>