{% extends "base.html" %}
{% load static %} 
{% block title %} 
    {{ commission.title }}
{% endblock title %} 
{% block content %} 
    <h1><a href="/commissions/list">Commission List</a></h1>
    <h2>{{ commission.title }}, commissioned by {{ commission.creator }} </h2>
    <h3>
        Total People Needed: {{ manpower }} <br>
        Open Slots: {% if commission.status != 'O' %}0{% else %}{{ remaining }}{% endif %}
    </h3>
    <p>
        Date Created: {{ commission.created_on }}<br>
        Last Updated: {{ commission.updated_on }}<br>
        {{ commission.description }}
    </p>
    <h3>Jobs:</h3>
    <ul>
        {% for job in commission.jobs.all %}
            <li>
                {{ job.role }}<br>
                Total People Needed: {{ job.manpower_required }}<br> 
                Open Slots: 
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'commissions:job-application' %}">Apply to a Job</a>
    {% if commission.creator.user == request.user %}
        <h4><a href="{% url 'commissions:commission-update' pk=commission.pk %}">Update your commission</a></h4>
    {% else %} 
    {% endif %} 
{% endblock content %} 