{% extends "base.html" %}
{% load static %} 
{% block title %} 
    {{ commission.title }}
{% endblock title %} 
{% block content %} 
    <h1><a href="/commissions/list">Commission List</a></h1>
    <h2>{{ commission.title }}</h2>
    <h3>
        People Needed: {{ commission.people_required }}<br>
        Date Created: {{ commission.created_on }}<br>
        Last Updated: {{ commission.updated_on }}
    </h3>
    <p>{{ commission.description }}</p>
    <ul>
        {% for comment in commission.comments.all %}
            <li>
                {{ comment.entry }}<br> 
                {{ comment.created_on }}, last updated {{ comment.updated_on }}
            </li>
        {% endfor %}
    </ul>
{% endblock content %} 