{% extends 'base.html' %}
{% block page_title %}Index Page{% endblock %}
{% block style %}
<style>

</style>
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<h1 class="mb-5">Dashboard</h1>
<h3>My Blog Articles</h3>
<hr>
<ul class="list-group list-group-flush mb-3">
{% for article in blog_articles %}
    <li class="list-group-item"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
{% endfor %}
</ul>
<h3>My Wiki Articles</h3>
<hr>
<ul class="list-group list-group-flush mb-3">
{% for article in wiki_articles %}
    <li class="list-group-item"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
{% endfor %}
</ul>
<h3>My Created Commissions</h3>
<hr>
<ul class="list-group list-group-flush mb-3">
{% for commission in commissions_created %}
    <li class="list-group-item"><a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a></li>
{% endfor %}
</ul>
<h3>My Applied Commissions</h3>
<hr>
<ul class="list-group list-group-flush mb-3">
{% for commission in commissions_joined %}
    <li class="list-group-item"><a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a></li>
{% endfor %}
</ul>
<h3>My Products</h3>
<hr>
<ul class="list-group list-group-flush mb-3">
{% for product in products_sold %}
    <li class="list-group-item"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
{% endfor %}
</ul>
<h3>My Purchases</h3>
<hr>
<ul class="list-group list-group-flush mb-3">
{% for product in products_bought %}
    <li class="list-group-item"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<h3>i LOVE CSCI!</h3>
<p>Come explore our page.</p>
{% endif %}
<img src="https://img.buzzfeed.com/buzzfeed-static/images/ZmxfbG9zc3k=/egicdgxkawdm2zu3ulx6/fans-react-to-icarly-revival-embracing-interesting-meme.jpeg.jpeg" class="float-left border border-5" style="border-color: rgb(255, 200, 0) !important ">
{% endblock %}