{% extends "base.html" %}

{% block title %}MerchStore Items{% endblock title %}

{% block content %}
<h1>Welcome to our Merchandise Store!</h1>

<h2>Products</h2>
<ul>
    {% for product in list.buy %}
    <li>
        <a href="{{ product.get_absolute_url }}">
            {{ product.name }}
        </a>
    </li>
    {% endfor %}
</ul>

<h2>My Own Stuffs</h2>
<ul>
    {% for product in list.own %}
    <li>
        <a href="{{ product.get_absolute_url }}">
            {{ product.name }}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}