{% extends "base.html" %}

{% block title %}MerchStore Create Items{% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button >CREATE</button>
    </form>

    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="SUBMIT">LOGOUT</button>
    </form>  

{% else %}
    <a href="{% url 'login' %}">LOGIN</a>
{% endif %}

<h3><a href="{% url 'merchstore:list'%}">Return to List of Products</a></h3>


{% endblock content %}