{% extends "base.html" %}

{% block title %}MerchStore Items{% endblock title %}

{% block content %}
<h1>Title: {{ object.name }}</h1>
<h2>Type: {{ object.Product_Type}}</h2>
<h3>Price: {{ object.price }}</h3>
<h3>Stock: {{ object.stock }}</h3>
<h3>Status: {{ object.product_status }}</h3>
<h4>Made by: {{ object.owner }}</h4>

<p>{{ object.description }}</p>


{% if request.user == object.owner.user %}
    <a href="{% url 'merchstore:item-update' object.pk %}">Update Your Product</a>
    {% else %}
    
        <form method="POST">
            {% csrf_token %}
            {{ buy_form.as_div }}
            {% if errors.amount_exceeded %}
                <h2 style="color:red">Sorry, amount exceeds current stock.</h2>
            {% else %}
                <p>boo</p>
            {% endif %}
            {% if object.stock == 0 %}
                <button disabled>BUY</button>
                <h2 style="color:red">Sorry, the item is currently not available.</h2>
            {% else %}
            
            <button>BUY</button>
        </form>
            {% endif %}  
{% endif %}  

</br>
<h3><a href="{% url 'merchstore:list'%}">Return to List of Products</a></h3>

{% if request.user.is_authenticated %}
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="SUBMIT">LOGOUT</button>
    </form>  
{% endif %}

{% endblock content %}